<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.goldlone.mapper.CourseMapper">
    <!-- 发布课程 -->
    <!-- 添加课程基本信息 -->
    <insert id="addCourse" parameterType="course"
            keyProperty="no" useGeneratedKeys="true" >
        INSERT
        INTO Course(no, name, classroom, teacher, time)
        VALUES(#{no}, #{name}, #{classroom}, #{teacher}, #{time});
    </insert>
    <!-- 添加课程权限 -->
    <insert id="addCoursePower" parameterType="coursePower" keyProperty="courseNo, power">
        INSERT
        INTO CoursePower(Cno, power)
        VALUES(#{courseNo}, #{power});
    </insert>
    <!-- 添加课程其余期的信息 -->
    <insert id="addCoursePlus" parameterType="coursePlus" keyProperty="courseNo, stage">
        INSERT
        INTO CoursePlus(courseNo, stage, startSelectDate, endSelectDate)
        VALUES(#{courseNo}, #{stage}, #{startSelectDate}, #{endSelectDate});
    </insert>

    <!-- 获取课程的基本信息 -->
    <select id="getCourseInfo" parameterType="int" resultType="cn.goldlone.model.Course">
        SELECT c1.no,c1.name,c1.classroom,c1.teacher,c1.time,c2.stage,c2.startSelectDate,c2.endSelectDate
        FROM Course c1, CoursePlus c2
        WHERE c1.no=#{courseNo} AND
                c1.no=c1.no AND
                c1.no=c2.courseNo;
    </select>
    <!-- 获取全部的课程信息 -->
    <select id="getAllCourseInfo" resultType="cn.goldlone.model.Course">
        SELECT c1.no,c1.name,c1.classroom,c1.teacher,c1.time,c2.stage,c2.startSelectDate,c2.endSelectDate
        FROM Course c1, CoursePlus c2
        WHERE c1.no=c1.no AND
        c1.no=c2.courseNo
    </select>
    <!-- 获取该课程的选课权限 -->
    <select id="getCoursePowers" parameterType="int" resultType="int">
        SELECT power
        FROM CoursePower
        WHERE courseNo=#{courseNo};
    </select>
    <!-- 修改课程基本信息(课程名，教室，教师，学分) -->
    <update id="updateBaseCourse" parameterType="course">
        UPDATE course
        SET name=#{name},
            classroom=#{classroom},
            teacher=#{teacher},
            time=#{time}
        WHERE no=#{no}
    </update>
    <!-- 修改选课课程权限 -->
    <update id="updateCoursePower" parameterType="coursePower">
        UPDATE coursepower
        SET power=#{power}
        WHERE courseNo=#{courseNo}
    </update>

    <!-- 根据权限获取可选课程列表 -->
    <select id="getCourseList" parameterType="int" resultType="cn.goldlone.model.Course">
        SELECT c1.no,c1.name,c1.classroom,c1.teacher,c1.time,c2.stage,c2.startSelectDate,c2.endSelectDate
        FROM Course c1, CoursePlus c2, CoursePower c3
        WHERE c3.power=#{power} AND
            c3.courseNo=c1.no AND
            c3.courseNo=c2.courseNo AND
            now()&lt;c2.endSelectDate;
    </select>
    <!-- 学生选课选座 -->
    <insert id="selectCourse" keyProperty="stuNo, courseNo">
        INSERT
        INTO selectcourse(stuNo, courseNo, stage, seatNo)
        VALUES(#{stuNo}, #{courseNo}, #{stage}, #{seatNo});
    </insert>
    <!-- 取消选课 -->
    <delete id="cancelSelectCourse">
        DELETE
        FROM SelectCourse
        WHERE courseNo=#{courseNo} AND
              stuNo=#{stuNo};
    </delete>
    <!--查询某期课程座位选择状况-->
    <select id="getSeatStatus" resultType="int">
        SELECT seatNo
        FROM SelectCourse
        WHERE courseNo=#{courseNo} AND
              stage=#{stage};
    </select>
    <!-- 管理员查询某节某期课程的选座状况 -->
    <select id="getSelectCourseInfoByMaster" resultType="cn.goldlone.model.CourseSeat">
        SELECT c2.stuNo,s.name,s.grade,s.school,c1.no,c1.name,c3.stage,startSelectDate,endSelectDate,classroom,teacher,time,seatNo,acquireTime
        FROM Course c1,SelectCourse c2,CoursePlus c3,Student s
        WHERE c2.courseNo = #{courseNo} AND
              c2.stage = #{stage} AND
              c2.stuNo=s.no AND
              c2.courseNo=c1.no AND
              c2.courseNo=c3.courseNo AND
              c2.stage=c3.stage;
    </select>
    <!-- 查看某个学员已选课程 -->
    <select id="getSelectCourse" parameterType="string" resultType="cn.goldlone.model.CourseSeat">
        SELECT c2.stuNo,s.name,s.grade,s.school,c1.no,c1.name,c3.stage,startSelectDate,endSelectDate,classroom,teacher,time,seatNo,acquireTime
        FROM Course c1,SelectCourse c2,CoursePlus c3,Student s
        WHERE c2.stuNo=#{stuNo} AND
        c2.stuNo=s.no AND
        c2.courseNo=c1.no AND
        c2.courseNo=c3.courseNo AND
        c2.stage=c3.stage;
    </select>
    <!-- 获取某个学生的已获得学时总额 -->
    <select id="getAcquireTime" parameterType="string" resultType="int">
        SELECT SUM(acquireTime)
        FROM SelectCourse
        WHERE stuNo=#{stuNo};
    </select>
    <!-- 反馈某期课程到课人员信息（单个人的信息） -->
    <update id="updateSomeoneCome">
        UPDATE SelectCourse
        SET acquireTime = (SELECT time FROM Course WHERE no=#{courseNo})
        WHERE stuNo = #{stuNo};
    </update>

</mapper>