<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset=utf-8 />
  <title>teacher</title>
  <link th:href="@{/static/css/app.a4543f468893895096ec957064574ed7.css}" rel=stylesheet>
</head>
<body>
  <div id=app></div>
  <script type=text/javascript th:src="@{/static/js/manifest.3845191afef052c19458.js}"></script>
  <script type=text/javascript th:src="@{/static/js/vendor.b7213a6c546335de4d7e.js}"></script>
  <script type=text/javascript th:src="@{/static/js/app.640573c60bc4528bd86e.js}"></script>
</body>
</html>