<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset=utf-8>
  <title>学员端</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{/imgs/favicon.ico}">
  <link th:href="@{/static/css/app.255384cc85b8f2124e6b30a2d1802371.css}" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript th:src="@{/static/js/manifest.0d4d563dd17e168aa1fb.js}"></script>
<script type=text/javascript th:src="@{/static/js/vendor.102093ac88af019fa898.js}"></script>
<script type=text/javascript th:src="@{/static/js/app.1f25e1705d4e9870bf76.js}"></script>
</body>
</html>