<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset=utf-8>
  <title>学员端</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{/imgs/favicon.ico}">
  <link th:href="@{/static/css/app.64fb398c967d6070cc0f83826f33a7b0.css}" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript th:src="@{/static/js/manifest.68d2e443149dc6c0b55f.js}"></script>
<script type=text/javascript th:src="@{/static/js/vendor.102093ac88af019fa898.js}"></script>
<script type=text/javascript th:src="@{/static/js/app.17dfb52e3cd2bebdbf19.js}"></script>
</body>
</html>