<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset=utf-8>
  <title>学员端</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{/imgs/favicon.ico}">
  <link th:href="@{/static/css/app.e4a13228f10a7ecc8d38ad6efe93a5fe.css}" rel=stylesheet>
</head>
<body>
  <div id=app></div>
  <script type=text/javascript th:src="@{/static/js/manifest.da6fe4371b6525d6f754.js}"></script>
  <script type=text/javascript th:src="@{/static/js/vendor.102093ac88af019fa898.js}"></script>
  <script type=text/javascript th:src="@{/static/js/app.08fd0573259459d3f355.js}"></script>
</body>
</html>