<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset=utf-8>
  <title>管理端</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{/imgs/favicon.ico}">
  <link th:href="@{/static/css/app.45315d7ac413745583e9fc42cb192408.css}" rel=stylesheet>
</head>
<body>
  <div id=app></div>
  <script type=text/javascript th:src="@{/static/js/manifest.c9c259f588b8e03a420c.js}"></script>
  <script type=text/javascript th:src="@{/static/js/vendor.7917961012ed94786b45.js}"></script>
  <script type=text/javascript th:src="@{/static/js/app.cfcda644ac7060aee1fd.js}"></script>
</body>
</html>