<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset=utf-8>
  <title>管理端</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{/imgs/favicon.ico}">
  <link th:href="@{/static/css/app.435c6cb46de340bfa1a3747995466d8e.css}" rel=stylesheet>
</head>
<body>
  <div id=app></div>
  <script type=text/javascript th:src="@{/static/js/manifest.b5076c33c05eba019a1a.js}"></script>
  <script type=text/javascript th:src="@{/static/js/vendor.7917961012ed94786b45.js}"></script>
  <script type=text/javascript th:src="@{/static/js/app.cb93bb7e792e23622b2d.js}"></script>
</body>
</html>