<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset=utf-8>
  <title>管理端</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" th:href="@{/imgs/favicon.ico}">
  <link th:href="@{/static/css/app.1be6333a6f17786baeaa3173515e3eb8.css}" rel=stylesheet>
</head>
<body>
  <div id=app></div>
  <script type=text/javascript th:src="@{/static/js/manifest.aec207892df316347bc4.js}"></script>
  <script type=text/javascript th:src="@{/static/js/vendor.7917961012ed94786b45.js}"></script>
  <script type=text/javascript th:src="@{/static/js/app.84038e83a3f5c0eb5457.js}"></script>
</body>
</html>